.chat-area {
  margin-top: 0px;
  padding-top: 300px;
  border: 1px solid silver;
  border-radius: 10px;
}
.rounded-container {
  padding-top: 5px;
  padding-bottom: 432px;
  padding-left: 20px;
  border: 1px solid silver;
  border-radius: 10px;
}
.rounded-container.team-area {
  margin-top: 20px;
  padding-bottom: 197px;
  padding-left: 20px;
}
.main-logo {
  position: static;
  width: 90px;
  padding-top: 27px;
  clear: none;
}

// Button colors
$color-unknown-badge: hsl(0,0%,92%);
$color-done-badge: hsl(120,80%,65%);
$color-failed-badge: hsl(0,100%,70%);

// Badge colors
$color-unknown-btn: hsl(0,0,95%);
$color-done-btn: hsl(120,80%,85%);
$color-failed-btn: hsl(0,100%,90%);

// Only usefull when I don't use _theme.scss
// @mixin result-button ($color) {
//   background-color: $color;
//     opacity: 1;
//     transition-property: opacity;
//   &:hover {
//     background-color: $color;
//     opacity: 0.6;
//   }
//   &:active {
//     //background-color: hsl($hue,100%,60%);
//     background-color: darken($color, 15%);
//   }
// }

button {
    &.unknown {
        @include btn-styles($color-unknown-btn); // using sass-bootstrap's _theme.scss
        // @include result-button($color-unknown);
        i { opacity: 0.9; }
        // color: white;
        &:hover { 
            // color: black;
            color:white;
        }
    }
    &.failed {
        @include btn-styles($color-failed-btn); // using sass-bootstrap's _theme.scss
        // @include result-button($color-failed);
        i {
            opacity: 0.9; // No "ok" icon
        }
    }
    &.done {
        @include btn-styles($color-done-btn); // using sass-bootstrap's _theme.scss
        // @include result-button($color-done);
        i { 
            color: green; 
        }
    }
}

.habit-name {
    font-size: 1.2em;
}
.habit-name {
    display: inline-block;
    width: 80%;
}
.date {
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
}
.grey {
    color: grey;
}
.reminder-row {
    margin-top: 30px;
}

.habits table {
    font-size: 1.2em;
}
.habits {
    table, td, th {
        text-align: center;
        vertical-align: middle;
    }
}
.my-badge {
    $circle-size: 35px;
    display: inline-block;
    min-width: $circle-size; 
    padding: 7px 7px;
    //font-size: 1.4em;
    font-weight: bold;
    color: white;
    line-height: 1;
    // vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: $circle-size;
    &.unknown {
        background-color: $color-unknown-badge;
        color: black;
    }
    &.failed { background-color: $color-failed-badge; }
    &.done { background-color: $color-done-badge; }
}
.tooltip {
    // font-size: $font-size-base;
    font-size: 1em;
}
.popover {
    // font-size: $font-size-base;
    font-size: 1em;
}
.input {
    padding: 5px;
}
// #habit-board {
//     #area-success-rate {
//         h4, p { 
//             display: inline-block;
//         }
//     }
// }

header {
    margin-bottom: 10px;
}
