<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="HTML Tidy for Linux/x86 (vers 25 March 2009), see www.w3.org" name="generator" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-type" />
    <meta charset="utf-8" />
    <meta content="" name="description" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>The Habit Lab 2</title>

</head>

<body>

    <div id="footer">
        Powered by <a href="http://perldancer.org/">Dancer2</a>
        <% dancer_version %>
    </div>
</body>
</html>
