/* line 1, app.scss */
.chat-area {
  margin-top: 0px;
  padding-top: 300px;
  border: 1px solid silver;
  border-radius: 10px;
}

/* line 7, app.scss */
.rounded-container {
  padding-top: 5px;
  padding-bottom: 432px;
  padding-left: 20px;
  border: 1px solid silver;
  border-radius: 10px;
}

/* line 14, app.scss */
.rounded-container.team-area {
  margin-top: 20px;
  padding-bottom: 197px;
  padding-left: 20px;
}

/* line 19, app.scss */
.main-logo {
  position: static;
  width: 90px;
  padding-top: 27px;
  clear: none;
}

/* line 68, app.scss */
button.unknown {
  font-size: 1.2em;
  background-color: #d9d9d9;
  border: 2px solid #c7c7c7;
  opacity: 1;
  transition-property: opacity;
}
/* line 57, app.scss */
button.unknown:hover {
  background-color: #d9d9d9;
  opacity: 0.6;
}
/* line 61, app.scss */
button.unknown:active {
  background-color: #bfbfbf;
}
/* line 71, app.scss */
button.unknown i {
  opacity: 0.9;
  color: white;
}
/* line 74, app.scss */
button.unknown i:hover {
  color: black;
}
/* line 78, app.scss */
button.failed {
  font-size: 1.2em;
  background-color: #fcc5c5;
  border: 2px solid #faa3a3;
  opacity: 1;
  transition-property: opacity;
}
/* line 57, app.scss */
button.failed:hover {
  background-color: #fcc5c5;
  opacity: 0.6;
}
/* line 61, app.scss */
button.failed:active {
  background-color: #f99494;
}
/* line 82, app.scss */
button.failed i {
  opacity: 0.9;
  color: #f65555;
}
/* line 87, app.scss */
button.done {
  font-size: 1.2em;
  background-color: #cbf6cb;
  border: 2px solid #adf0ad;
  opacity: 1;
  transition-property: opacity;
  background-color: #cbf6cb;
}
/* line 57, app.scss */
button.done:hover {
  background-color: #cbf6cb;
  opacity: 0.6;
}
/* line 61, app.scss */
button.done:active {
  background-color: #a0eea0;
}
/* line 91, app.scss */
button.done i {
  color: green;
  color: #52e052;
}

/* line 98, app.scss */
.habit-name {
  font-size: 1.2em;
}

/* line 101, app.scss */
.habit-name {
  display: inline-block;
  width: 80%;
}

/* line 105, app.scss */
.date {
  margin-left: 10px;
  margin-right: 10px;
  text-align: right;
}

/* line 110, app.scss */
.grey {
  color: grey;
}

/* line 113, app.scss */
.reminder-row {
  margin-top: 30px;
}

/* line 117, app.scss */
.habits table {
  font-size: 1.2em;
}

/* line 121, app.scss */
.habits table, .habits td, .habits th {
  text-align: center;
  vertical-align: middle;
}

/* line 126, app.scss */
.my-badge {
  display: inline-block;
  min-width: 35px;
  padding: 7px 7px;
  font-weight: bold;
  color: white;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  border-radius: 35px;
  font-size: 1.2em;
}
/* line 140, app.scss */
.my-badge.unknown {
  background-color: #cccccc;
}
/* line 144, app.scss */
.my-badge.failed {
  background-color: #f65555;
}
/* line 148, app.scss */
.my-badge.done {
  background-color: #67e467;
}

/* line 166, app.scss */
.tooltip {
  font-size: 1em;
}

/* line 170, app.scss */
.popover {
  font-size: 1em;
}

/* line 174, app.scss */
.input {
  padding: 5px;
}

/* line 187, app.scss */
header {
  margin-bottom: 10px;
}
