  <header>
    <div class="container">
      <div class="row header">
        <div class="col-md-1">
          <!-- <img class="main-logo" src="images/hl-logo-stolen.jpg" alt="hl-logo-stolen.jpg"> -->
        </div>
        <div class="col-md-8">
          <h1>The Habit Lab</h1>
          <h4>          Learn about yourself, change your life!</h4>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </header>

  <div ng-view></div>

