  <header>
    <div class="w-container">
      <div class="w-row header">
        <div class="w-col w-col-1">
          <img class="main-logo" src="images/hl-logo-stolen.jpg" alt="hl-logo-stolen.jpg">
        </div>
        <div class="w-col w-col-8">
          <h1>The Habit Lab</h1>
          <h4>          Learn about yourself, change your life!</h4>
        </div>
        <div class="w-col w-col-3"></div>
      </div>
    </div>
  </header>

  <div ng-view></div>

