.chat-area {
  margin-top: 0px;
  padding-top: 300px;
  border: 1px solid silver;
  border-radius: 10px;
}
.rounded-container {
  padding-top: 5px;
  padding-bottom: 432px;
  padding-left: 20px;
  border: 1px solid silver;
  border-radius: 10px;
}
.rounded-container.team-area {
  margin-top: 20px;
  padding-bottom: 197px;
  padding-left: 20px;
}
.main-logo {
  position: static;
  width: 90px;
  padding-top: 27px;
  clear: none;
}

.fail {
  /* color: #ffff00; */
  /* background-color: #333300; */
  /* border-color: #333300; */
}
