.chat-area {
  margin-top: 0px;
  padding-top: 300px;
  border: 1px solid silver;
  border-radius: 10px;
}
.rounded-container {
  padding-top: 5px;
  padding-bottom: 432px;
  padding-left: 20px;
  border: 1px solid silver;
  border-radius: 10px;
}
.rounded-container.team-area {
  margin-top: 20px;
  padding-bottom: 197px;
  padding-left: 20px;
}
.main-logo {
  position: static;
  width: 90px;
  padding-top: 27px;
  clear: none;
}

.result-btn {
    opacity: 1;
    transition-property: opacity;
}
.result-btn:hover {
    opacity: 0.4;
}
.unknown, .unknown:hover {
  background-color: #f7ff75;
}
.done, .done:hover {
  background-color: #2ecc71;
}
.failed, .failed:hover {
  background-color: #FF6666;
}
.habit-row {
    margin-bottom: 20px;
    margin-top: 20px;
}
.date, .habit-name, .habit-ratio {
    font-size: 1.2em;
}
.now {
    font-size: 0.8em;
}
.date {
    margin-left: 10px;
    margin-right: 10px;
}
