/* line 1, habitTemplates.scss */
#habit-templates-list {
  font-size: 1.2em;
}
/* line 3, habitTemplates.scss */
#habit-templates-list > .row {
  padding: 5px 0px 5px 10px;
}
/* line 6, habitTemplates.scss */
#habit-templates-list > .row.habit {
  border-bottom: 1px solid lightgray;
}
