  <div>
    <div class="w-row">
      <div class="w-col w-col-6">
        <div class="w-container display-area">
          <h2>Pierre M.</h2>
          <div class="w-container">
            <div>
              <a class="w-inline-block" href="#">
                <img class="previous-date" src="images/left.jpg" width="20" alt="left.jpg">
              </a>
              <div class="date">Mon 19 Sept.</div>
              <a class="w-inline-block" href="#">
                <img class="next-date" src="images/right.jpg" width="20" alt="right.jpg">
              </a>
            </div>
            <div class="w-row">
              <div class="w-col w-col-2">
                <img class="habit-tickbox" src="images/tick-green.png" width="30s" alt="tick-green.png">
              </div>
              <div class="w-col w-col-6">
                <div class="habit-name">Meditate</div>
              </div>
              <div class="w-col w-col-2">
                <div class="habit-streak">+2</div>
              </div>
              <div class="w-col w-col-2">
                <div class="habit-result">18/21</div>
              </div>
            </div>
            <div class="w-row">
              <div class="w-col w-col-2">
                <img class="habit-tickbox" src="images/tick-green.png" width="30s" alt="tick-green.png">
              </div>
              <div class="w-col w-col-6">
                <div class="habit-name">Exercise</div>
              </div>
              <div class="w-col w-col-2">
                <div class="habit-streak">+12</div>
              </div>
              <div class="w-col w-col-2">
                <div class="habit-result">46/53</div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-container rounded-container team-area">
          <h2>Team Zen</h2>
        </div>
      </div>
      <div class="w-col w-col-6">
        <div class="w-container rounded-container chat-area">
          <h2>Chat area...</h2>
        </div>
      </div>
    </div>
  </div>

