<div>
    <div class="w-row">
        <div class="w-col w-col-6">
            <div class="w-container display-area">
                <h2>Pierre M.</h2>
                <div class="w-container">
                    <div>
                        <img class="previous-date" ng-click=clickPrevDay() src="images/left.jpg" width="20" alt="left.jpg">
                        <div class="date">{{displayedDay | date:'EEE d MMM'}}</div>
                        <img class="next-date" ng-click=clickNextDay() src="images/right.jpg" width="20" alt="right.jpg" ng-hide=thisIsToday()>
                    </div>
                    <span ng-repeat='habit in habits'>
                        <div class="w-row" ng-hide=habit.doesntExistYet()> 
                            <div class="w-col w-col-2">
                                <img class="habit-tickbox" ng-click=habit.clickTick() src="{{checkboxImages[habit.ticked()]}}" width="30s" alt="TODO: describe checkbox result"/>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="habit-name">{{habit.name}}</div>
                            </div>
                            <div class="w-col w-col-1">
                                <div class="habit-streak">{{habit.streak()}}</div>
                            </div>
                            <div class="w-col w-col-5">
                                <div class="habit-result">
                                    <table class='table table-bordered'>
                                        <tr>
                                            <td width="9%" ng-repeat='num in [10, 9, 8, 7,6,5,4,3,2,1,0]'> 
                                                {{habit.results[num].streak}} 
                                                <span ng-show='habit.results[num].day.isSame(habit.selectedDay())'>**</span> 
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- <div class="habit-result">18/21</div> -->
                            </div>
                        </div> <!-- END row -->
                    </span>
                </div> 
            </div> <!-- END display-area -->
            <div class="w-container rounded-container team-area">
                <h2>Team Zen</h2>
            </div>
        </div>
        <div class="w-col w-col-6">
            <div class="w-container rounded-container chat-area">
                <h2>Chat area...</h2>
            </div>
        </div>
    </div>
</div>
    
