<div>
    <div class="w-row">
        <div class="w-col w-col-7">
            <div class="w-container display-area container">
                <h2>Pierre M.</h2>
                <div class="w-container container">
                    <div>
                        <img class="previous-date" ng-click=clickPrevDay() ng-src="images/left.jpg" width="20" alt="left.jpg">
                        <div class="date">{{displayedDay | date:'EEE d MMM'}}</div>
                        <img class="next-date" ng-click=clickNextDay() ng-src="images/right.jpg" width="20" alt="right.jpg" ng-hide=thisIsToday()>
                    </div>
                    <span ng-repeat='habit in myHabits | filter:wasActive'>
                        <div class="w-row"> 
                            <div class="w-col w-col-1">
                                <i style="padding-top: 20px; font-size: 1.6em" class="glyphicon ng-class:{unknown:'glyphicon-unchecked', done:'glyphicon-ok', 'failed':'glyphicon-remove'}[habit.tickedOnDay(daysAgo)]" ng-click="habit.clickTick(daysAgo)"></i>
                            </div>
                            <div class="w-col w-col-3">
                                <div class="habit-name">{{habit.name}}</div>
                            </div>
                            <div class="w-col w-col-1">
                                <div class="habit-streak">{{habit.streakOnDay(daysAgo)}}</div>
                            </div>
                            <div class="w-col w-col-6">
                                <div class="habit-results">
                                    <table class='table table-bordered'>
                                        <tr>
                                            <td width="9%" ng-repeat='num in [0,1,2,3,4,5,6,7,8]'> 
                                                {{habit.results[num].streak}} 
                                                <span ng-show='num == daysAgo'>**</span> 
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="w-col w-col-1">
                                <div class="habit-result-ratio">{{habit.countResults.done}} / {{habit.countResults.total}}</div>
                            </div>
                        </div> <!-- END row -->
                    </span>
                    <div class="w-row" ng-show='nowAddingHabit'> 
                        <form class="form-inline" role='form'>
                            <div class="w-col w-col-1">
                                <i style="padding-top:0px; font-size:1.6em;" class="glyphicon glyphicon-unchecked" ng-click="habit.clickTick(daysAgo)"></i>
                                <!-- <alert>haha!</alert> -->
                            </div>
                            <div class="w-col w-col-3">
                                <input type="text" class='input-habit-name' ng-model='inputHabitName' placeholder=' Habit name' typeahead="name for name in otherHabitNames | filter:$viewValue | limitTo:8"></input>
                            </div>
                            <div class="w-col w-col-6">
                                <button type="text" class='input-start-date' ng-click='dateChangeIsSelected = 1' ng-hide='dateChangeIsSelected'> Not starting today... </button>
                                <div class="form-horizontal" ng-show='dateChangeIsSelected'>
                                    <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
                                    <button class="btn" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </div>
                            </div>
                            <div class="w-col w-col-2">
                                <button type="button" class="btn btn-mini" ng-click='addOneHabit(inputHabitName)'><i class="glyphicon glyphicon-play"></i></button>
                                    <button type="button" class="btn btn-mini" ng-click='nowAddingHabit=false'><i class="glyphicon glyphicon-remove"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="w-row"> 
                        <div class="w-col w-col-2">
                            <button class="btn btn-large" ng-click='nowAddingHabit=true' ng-hide='nowAddingHabit' alt="Add a new habit"><i style="font-size: 1.4em" class="glyphicon glyphicon-plus"></i></button>
                                <!-- <button type="button" class="btn btn-default btn-sm, add-habit" ng-click='nowAddingHabit=true' ng-hide='nowAddingHabit' alt="add.jpg"> --> 
                                <!--     <i class="icon-large glyphicon glyphicon-plus"></i> -->
                            <!-- </button> -->
                        </div> 
                    </div>
                </div>
            </div> <!-- END display-area -->
            <div class="w-container rounded-container team-area">
                <h2>Team Zen</h2>
            </div>
        </div>
        <div class="w-col w-col-5">
            <div class="w-container rounded-container chat-area">
                <h2>Chat area...</h2>
            </div>
        </div>
    </div>
</div>
    
