/* line 3, styles.scss */
.habit-results-calendar table {
  width: 0%;
}
/* line 12, styles.scss */
.habit-results-calendar .day-num {
  display: block;
  font-size: .7em;
  padding-left: 2px;
}
/* line 18, styles.scss */
.habit-results-calendar td {
  padding: 0px !important;
}
/* line 21, styles.scss */
.habit-results-calendar button {
  margin: 0px;
  font-size: 1em;
  padding: 3px 6px;
}
/* line 26, styles.scss */
.habit-results-calendar .thisIsToday {
  background-color: #ffff99;
}
/* line 29, styles.scss */
.habit-results-calendar button.disabled {
  opacity: 0.2;
}
/* line 31, styles.scss */
.habit-results-calendar button.disabled i {
  opacity: 0;
}
